<section ng-controller="singleLesson">
	<h2>{{lesson.name}} </h2>Урок создан <small >{{lesson.createdAt | date: 'shortDate'}}</small>
	<img src="{{lesson.pic}}">
	<p>{{lesson.description}}</p>
</section>
