<section ng-controller="singleLesson">
	<h2>{{lesson.name}} </h2>
	<em>Урок создан {{lesson.createdAt | date: 'shortDate'}}</em><br/>
	<strong>Автор: {{author.name}}</strong>
	<img src="{{lesson.pic}}">
	<p>{{lesson.description}}</p>
	<ol>
	<li ng-repeat="link in links | filter: { lessonID: lesson.id}">
		<a href="{{link.url}}">{{ link.name }}</a>
		<p>{{ link.description }}</p>
	</li>
	</ol>
</section>
