<section ng-controller="expertController">
	<form ng-submit="submitExpert(appData, 'expert')">
		<label for="">Expert name</label> <input type="text" name="name" ng-model="appData.name"/><br/>
		<label for="">Email(Login)</label> <input type="email" name="email" ng-model="appData.email" /><br/>		
 		<label>Avatar</label> <input type="url" name="avatar" ng-model="appData.avatar" /><br/> 
 		<label>Facebook</label> <input type="url" name="facebook" ng-model="appData.facebook" /><br/> 
 		<label>Twitter</label> <input type="url" name="field" ng-model="appData.twitter" /><br/>
 		<label for="">Description</label> <textarea ng-model="appData.description"></textarea></br> 
		<button type="submit">Save</button>
	</form>	
 	<ul>
 	<table>
 		<thead>
 			<tr>
 				<th class="id">ID</th>
 				<th  >Name</th>
 				<th class="email">Email(login)</th>
 				<th class="avatar">Avatar(URL)</th>
 				<th class="facebook">Facebook</th>
 				<th class="twitter">Twitter</th>
 				<th class="description">Description</th>
 				<th class="action">Remove</th>
 			</tr>
 		</thead>
 	 	<tbody>
 	 		<tr ng-repeat="expert in experts">
 	 			<td class="id">{{expert.id}}</td>
 	 			<td class="name">{{expert.name}}</td>
 	 			<td class="email">{{expert.email}}</td>
 	 			<td class="avatar"><img src="{{expert.avatar}}" alt="" /> </td>
 	 			<td class="facebook"><a href="{{expert.facebook}}">Link</a></td>
 	 			<td class="twitter"><a href="{{expert.twitter}}">Link</a></td>
 	 			<td class="description">{{expert.description}}</td>
 	 			<td><button ng-click="deleteExpert(expert.id)">x</button></td>
 	 		</tr>
 	 	</tbody>
 	</table>
</section>