
<section ng-controller="authorController">
	<h2>{{author.name}}</h2>
	<img src="{{author.avatar}}">
	<p>{{author.description}}</p>
	<h3>Уроки автора</h3>
	<ul>
		<a href=""><li ng-repeat="lesson in lessons | filter: { ownerID: author.id}" ng-click="loadLesson(lesson.id)">{{lesson.name}}</li></a>	
	</ul>
</section>