<section class="lesson add">
	<h2>Новый урок</h2>
	<form>
		<label>Название урока</label> <input type="text" ng-model="appData.name"></br>
		<label>Тема</label> 
		<select>
			<option>Управление проектами</option>
		</select></br>
		<label>Описание урока</label><textarea rows="5"></textarea>
		<input type="file" class="picture"/>
		<output></output>
	</form>

</section>