/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 30px;
}
a:hover,
a:-webkit-any-link {
  text-decoration: none;
}
table tr:hover td {
  background: rgba(100, 100, 100, 0.05);
}
table .id {
  width: 40px;
  text-align: right;
  padding-right: 20px;
}
table .name {
  width: 180px;
}
table .email {
  width: 180px;
}
table .description {
  width: 300px;
  text-align: left;
}
table .avatar {
  width: 100px;
}
table .avatar img {
  max-width: 100px;
  max-height: 50px;
  margin: 10px 0;
}
table .twitter,
table .facebook {
  width: 100px;
}
form {
  margin: 20px;
}
form label {
  width: 150px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
}
form input,
form textarea {
  width: 250px;
}
form input.picture {
  width: 250px;
  height: 250px
		border: 2px dotted gray;
  display: block;
}
header {
  float: left;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
}
header .limiter {
  width: 1200px;
  margin: 20px auto;
}
header .limiter h1 {
  width: 290px;
  float: left;
  font-weight: 600;
  font-size: 40px;
}
header .limiter h1 a {
  color: #2c3e50;
}
header .limiter h1 a:hover {
  text-decoration: none;
}
header .limiter nav {
  width: 680px;
  float: right;
  margin-top: 20px;
  text-align: right;
}
header .limiter nav a {
  margin: 0 20px;
  padding: 35px 0 21px;
  font-size: 13px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 500;
  letter-spacing: 2px;
  color: #95a5a6;
}
header .limiter nav a:hover {
  color: #1abc9c;
}
header .limiter nav button {
  background-color: #16a085;
  border: 1px solid #16a085;
  padding: 10px 26px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  border-radius: 6px;
  margin-right: 0;
  cursor: pointer;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  box-sizing: border-box;
}
.wrapper section {
  display: block;
  float: left;
  width: 100%;
  height: auto;
  margin: 0 auto 50px auto;
}
.wrapper section h2 {
  margin-bottom: 30px;
}
.wrapper section.intro .text {
  width: 880px;
  float: left;
}
.wrapper section.intro .text .point {
  width: 250px;
  height: 200px;
  float: left;
  margin-right: 30px;
}
.wrapper section.intro img {
  float: left;
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-top: 0px;
}
.wrapper section.lessons .lesson {
  width: 250px;
  float: left;
  margin-right: 66px;
  position: relative;
  height: 300px;
  overflow: hidden;
}
.wrapper section.lessons .lesson:nth-child(5n+5) {
  margin-right: 0;
}
.wrapper section.lessons .lesson h3 {
  color: black;
  background: rgba(255, 255, 255, 0.8);
  display: block;
  max-height: 90px;
  margin-top: 100px;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 5px;
}
.wrapper section.lessons .lesson p {
  background: white;
  height: 160px;
}
.wrapper section.lessons .lesson img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.wrapper section.experts .expert {
  width: 340px;
  float: left;
  margin-right: 85px;
  margin-bottom: 50px;
  position: relative;
  height: 350px;
  overflow: hidden;
}
.wrapper section.experts .expert:nth-child(4),
.wrapper section.experts .expert:nth-child(7) {
  margin-right: 0;
}
.wrapper section.experts .expert h3 {
  margin-top: 150px;
  color: #fff;
  min-height: 40px;
  padding-left: 5px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}
.wrapper section.experts .expert p {
  height: 140px;
  font-size: 14px;
  color: #7f8c8d;
  background: white;
  margin: 0;
  padding-bottom: 20px;
}
.wrapper section.experts .expert img {
  width: 100%;
  position: absolute;
  z-index: -1;
}
.wrapper section.experts .expert .socials {
  text-align: center;
  background: #fff;
}
.wrapper section.experts .expert .socials a {
  background: white;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.wrapper section.experts .expert .socials a:hover {
  text-decoration: none;
}
footer {
  width: 100%;
  float: left;
  height: 150px;
  background-color: #34495e;
  text-align: center;
  padding: 20px;
  color: #bac1c8;
  box-sizing: border-box;
}
footer button {
  background-color: #16a085;
  border: 1px solid #16a085;
  padding: 10px 26px 10px 40px;
  font-size: 14px;
  font-weight: normal;
  color: #ffffff;
  border-radius: 6px;
  margin-right: 0;
  position: relative;
  cursor: pointer;
}
footer button i {
  color: #d2d9e0;
  margin-right: 10px;
  font-size: 22px;
  position: absolute;
  left: 15px;
}
