<section>
<h3>Skill'em all это подборки обучающих материалов, которые можно просмотреть за 2-3 часа, чтобы быстро освоить определенную область. </h3>

<h3>Подборки составлены экспертами в указанных областях.</h3>
<h4>Наша миссия</h4>
<p>Что делать, если вы хотите быстро разобраться в чем-то, понять предметную область, получить новый навык? Скорее всего, вы воспользуетесь поисковиком и получите доступ к сотням тысяч образовательных ресурсов. Как выбрать релевантные? Как определить ценные статьи и спасти свое время от ненужного шлака. C чего начать, чтобы сразу уловить суть? Как отбросить дублирующую информацию?
С задачами выбора материалов легко справится эксперт — человек, который уже понимает предметную область. Хорошо, если вы знаете такого эксперта, готового подсказать с чего начать и чего почитать.
Мы просим экспертов подбирать материалы для специфических областей, чтобы заинтересованные могли быстро их осваивать.
Мы верим, что в глобальной сети уже есть множество полезных материалов. Главная сложность — это их поиск и отбор. С этой задачей нам помогают справиться эксперты.</p>

<h4>Пара часов</h4>
<p>Подборка сконцентирована на одной узкой теме, и позволяют освоить ее за один вечер.</p>

<h4>Ориентация на практику</h4>
<p>Подборка сконцентирована на одной узкой теме, и позволяют освоить ее за один вечер.</p>

<h4>Ориентация на практику</h4>
<p>Подборки ориентированы на создание небольшого качественного скачка в вашей жизни. После освоения можно будет пойти и применить новые знания.</p>

<h4>Вопросы для самопроверки</h4>
<p>Большинство материалов снабжены вопросами для самопроверки, помогающими уловить суть.</p>

</section>